

:root {
  --black: #222;
  --dark-gray: #373737;
  --mid-gray: #737373;
  --gray: #a5a5a5;
  --lit-gray: #f5f5f5;
  --white: #fff;
}

 
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

/*Text Selection Color*/
::selection {
  background: #d14424;
    color: #fff;
}
::-moz-selection {
  background: #d14424;
    color: #fff;
}

/*Reset apple form styles*/
input, textarea, select { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; border-radius: 0; 
    background-image: none; 
}

.dark {
	color: var(--white);
	background-color: var(--black);
}

.dark :is(.styles__nav-link) {
	color: var(--white);
}

.dark .styles__nav,
.dark :not(.styles__card .u-bg-white) .styles__nav /* DOCUMENTATION PREVIEW EXCEPTION */ {
	color: var(--white);
	background-color: var(--black);
}

.dark .btn { /* DOCUMENTATION PREVIEW EXCEPTION */
	color: var(--black);
	background-color: var(--white);
}
