
:root {
  --white: #fff;
  --black: #222;
}

.light,
.light .styles__nav-link {
	color: var(--black);
}

.light :is(.page-wrapper, .styles__nav) {
	color: var(--black);
	background-color: var(--white);
}
